.container-eco {
  &__logo {
    font-family: 'ADLaM Display', cursive;
    font-size: 48px;
    line-height: 64px;
  }

  @media screen and (min-width: 768px) {
    * .hidden-d,
    .hidden-d,
    .hidden-d > * {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    * .hidden-m,
    .hidden-m,
    .hidden-m > * {
      display: none;
    }
  }

  &__header {

    &-logo,
    &-boton {
      height: 64px;
      margin-bottom: 10px;
    }

    &-boton {
      @media screen and (min-width: 320px) {
        height: inherit;
        margin-bottom: inherit;
      }
      @media screen and (min-width: 1024px) {
        height: 64px;
        display: flex;
        align-items: end;
        justify-content: end;
      }
    }
  }

  &__slider {
    position: relative;
  }

  &__home {
  }

  &__seccion-notas {
    &_item {
      &--image {
        height: 136px;
        overflow: hidden;
      }
    }
  }
}

.slick-slider {
  .slick-arrow {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    right: 0;
    z-index: 999;
    background: #F5F6F7;

    i {
      color: #2F3134;
    }

    &__next {
    }

    &__prev {
      right: 40px;
    }

    &.slick-next {
      right: 0;
    }

    &.slick-prev {
      left: inherit;
      right: 32px;
    }
  }

  &__caption {
    height: 32px;
    margin-bottom: 8px;
  }

  &__image {
    overflow: hidden;
    height: 290px;
  }

  &__single {
    &__item {

      .slick-slider__image {
        margin-left: 6px;
        margin-right: 6px;
        border-radius: 10px;
      }
    }
  }

  &.slider-home {
    .slick-dots {
      position: absolute;
      bottom: 0;
      z-index: 9999;
      width: 100%;
      height: 44px;

      ul {
        height: 43px;
        align-items: center;

        li {
          width: 30px;
          height: 4px;
          padding-left: 2px;
          padding-right: 2px;
          text-align: center;

          &.slick-active {
            button {
              width: 100%;
              background-color: hsla(0, 0%, 100%, 1);
            }
          }

          button {
            width: 60%;
            height: 4px;
            background: hsla(0, 0%, 100%, .5);
            text-indent: -9000px;
            border-radius: 3px;

            transition-property: all;
            transition-timing-function: cubic-bezier(.4, 0, .2, 1);
            transition-duration: .15s;
          }
        }
      }
    }
  }

  &__home {
    &__item {

      .slick-slider__image {
        border-radius: 10px;
      }
    }
  }
}
